.avatar-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-stats {
  display: flex;
  justify-content: flex-start;
}

// .profile-bio {
//   margin-top: 0.25em;
// }

.custom-avatar {
  width: 100px; /* Ajusta el tamaño según tus necesidades */
  height: 100px; /* Ajusta el tamaño según tus necesidades */
  overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-avatar img {
  width: 100%;
  height: auto; /* Mantén la relación de aspecto */
  object-fit: cover; /* Recorta la imagen para llenar el contenedor */
}