<ion-header [translucent]="true">
  <app-header [filtros]="filtros"></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-header">
    <div class="profile-picture">
      <img src="https://via.placeholder.com/150" alt="Imagen de perfil">
    </div>
    <div class="profile-info">
      <h2 class="profile-username">Nombre de Usuario</h2>
      <p class="profile-stats">Publicaciones: 10 | Seguidores: 100 | Seguidos: 50</p>
      <p class="profile-bio">Biografía del usuario</p>
    </div>
  </div>

  <div class="profile-actions">
    <ion-button expand="block" color="primary" class="edit-profile">Editar Perfil</ion-button>
    <ion-button expand="block" color="secondary" class="share-profile">Compartir</ion-button>
  </div>

  <ion-button shape="round" color="tertiary" class="highlight-post">
    <ion-icon name="add-outline"></ion-icon>
    <ion-label class="plus-sign">+</ion-label>
  </ion-button>

  <!-- Publicación 1 -->
  <ion-card>
    <ion-card-content>
      <ion-img src="https://via.placeholder.com/150"></ion-img>
      <ion-row class="post-actions">
        <ion-col size="4" (click)="likePost(1)">
          <ion-icon name="heart-outline"></ion-icon> Me gusta
        </ion-col>
        <ion-col size="4" (click)="addToFavorites(1)">
          <ion-icon name="bookmark-outline"></ion-icon> Añadir a favoritos
        </ion-col>
        <ion-col size="4" (click)="commentOnPost(1)">
          <ion-icon name="chatbubble-outline"></ion-icon> Comentar
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!-- Publicación 2 -->
  <ion-card>
    <ion-card-content>
      <ion-img src="https://via.placeholder.com/150"></ion-img>
      <ion-row class="post-actions">
        <ion-col size="4" (click)="likePost(2)">
          <ion-icon name="heart-outline"></ion-icon> Me gusta
        </ion-col>
        <ion-col size="4" (click)="addToFavorites(2)">
          <ion-icon name="bookmark-outline"></ion-icon> Añadir a favoritos
        </ion-col>
        <ion-col size="4" (click)="commentOnPost(2)">
          <ion-icon name="chatbubble-outline"></ion-icon> Comentar
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <app-footer></app-footer>
</ion-footer>