.avatar-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-avatar {
  width: 100%;
  height: auto;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-username {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.profile-stats {
  display: flex;
  justify-content: flex-start;
}

.profile-bio {
  margin-top: 1em;
}
