<ion-header>
  <app-header [userpage]="true" [addProduct]="true" [title]=" userLocal.username"></app-header>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="profile-header">
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="avatar-col">
          <ion-avatar (click)="changePhoto()">
            <img [src]="userLocal.image || 'https://via.placeholder.com/150'" />
          </ion-avatar>
        </ion-col>
        <ion-col size="9" class="profile-info">
          <ion-row>
            <ion-col size="6" class="profile-stats">
              <ion-chip mode="ios" outline="true" class="ion-text-center ">
                <ion-label>Seguidores:<br>100</ion-label>
              </ion-chip>
            </ion-col>
            <ion-col size="6" class="profile-stats">
              <ion-chip mode="ios" outline="true" class="ion-text-center">
                <ion-label>Seguidos:<br>50</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="userLocal.bio">
        <ion-col size="12" class="profile-bio">
          <p>{{ userLocal.bio}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <div class="profile-actions">
    <ion-button expand="block" color="primary" class="edit-profile">Editar Perfil</ion-button>
    <ion-button expand="block" color="secondary" class="share-profile">Compartir</ion-button>
  </div>
<!-- cambiado por un ion fab -->
  <!-- <ion-button shape="round" color="tertiary" class="highlight-post">
    <ion-icon name="add-outline"></ion-icon>
    <ion-label class="plus-sign">+</ion-label>
  </ion-button> -->
  <div>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <ion-button *ngIf="ownBlocks"  expand="block">
            <ion-icon slot="icon-only" name="apps-outline"></ion-icon>
          </ion-button> 
          <ion-button fill="clear" *ngIf="!ownBlocks"  expand="block">
            <ion-icon slot="icon-only" name="apps-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4">
         
          <ion-button *ngIf="likesBlocks"  expand="block">
            <ion-icon slot="icon-only" color="danger" name="heart"></ion-icon>
          </ion-button>
          <ion-button *ngIf="!likesBlocks" fill="clear"  expand="block">
            <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4">
         
          <ion-button  *ngIf="markedBlocks"  expand="block">
            <ion-icon slot="icon-only" name="checkmark-circle" color="success"></ion-icon>
          </ion-button>
          <ion-button *ngIf="!markedBlocks" fill="clear"  expand="block">
            <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
          </ion-button> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

    <app-bloque *ngFor="let item of cardData" [cardData]="item"></app-bloque>

</ion-content>
<ion-footer>
  <app-footer [selected]=2></app-footer>
