.card-img {
    width: 100%;
    height: auto;
  }
  
  .card-subtitle,
  .card-difficulty {
    margin-bottom: 5px;
    color: #666;
  }
  
  .card-difficulty {
    font-weight: bold;
  }

  .labels{
    margin-top: 2rem !important;
}

.big-text {
  font-size: 15px;
}

// .big-text:hover {
//   text-decoration: underline #428cff;


// }
.p-ppading{
  padding: 4px;
}