<ion-header>
  <ion-searchbar [(ngModel)]="searchQuery" placeholder="Buscar"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-item>
    

  <ion-grid fixed>
    <ion-row class="ion-text-center">
      <ion-col size="6" >
        <ion-button (click)="chageSearch('user')" expand="block" fill="clear" shape="round" *ngIf="type=='block'">
          Usuarios
        </ion-button><ion-button expand="block" shape="round" *ngIf="type=='user'">
          Usuarios
        </ion-button>
      </ion-col>
      <ion-col size="6" >
        <ion-button expand="block" (click)="chageSearch('block')" shape="round" fill="clear" *ngIf="type=='user'">
          Bloques
        </ion-button>
        <ion-button expand="block" shape="round" *ngIf="type=='block'">
          Bloques
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-item>
  <ion-list *ngIf="type == 'block'">
    <app-item-busqueda *ngFor="let item of itemData" [block]="item" />
  </ion-list> 
  <ion-list *ngIf="type == 'user'">
    <app-item-busqueda *ngFor="let item of itemData" [user]="item" />
  </ion-list>
</ion-content>
<ion-footer>
  <app-footer [selected]=1></app-footer>
</ion-footer>

