<ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button *ngIf="backbutton" [defaultHref]="backbutton"></ion-back-button>
      <ion-button  (click) ="addUpdateProduct()" expand="block" fill="clear" shape="round" color="primary" *ngIf="addProduct">
        <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

   
  <ion-title class="ion-text-center">Climbclip</ion-title>
  <div *ngIf="filtros" slot="end">
    <ion-button slot="end" fill="clear" (click)="preferenicas()" >
      <ion-icon slot="icon-only" name="options-outline"></ion-icon>
    </ion-button>  
    
  </div>
  <ion-buttons slot="end">
    <ion-button fill="clear" id="log-out" *ngIf="userpage" >
      <ion-icon color="danger" slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="isModal" (click) = "dismissmodal()" >
      <ion-icon name="close-circle-outline" ></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-toolbar *ngIf="preferences" >
  <app-filtros ></app-filtros>
</ion-toolbar>

<ion-alert
  trigger="log-out"
  header="¡¡Vas ha cerrar sesion!!"
  [buttons]="alertButtons"
  message="¿Estas seguro que quieres cerrar sesion?"
></ion-alert>