<ion-header>
  <ion-toolbar>
      <ion-title class="ion-text-center">CLIMBCLIP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top: 15%;">
      <form [formGroup]="loginForm" (ngSubmit)="enviar()">

          <ion-item>

              <ion-label position="floating">Usuario
                  <ion-text color="danger">*</ion-text>
              </ion-label>

              <ion-input formControlName="email" type="text" placeholder="Correo"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Password
                  <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
          </ion-item>
          <ion-grid fixed>
              <ion-row>

                  <ion-col size="6">
                      <ion-button color="primary" (click)="registrarse()">
                          Registrarse
                      </ion-button>
                  </ion-col>
                  <ion-col size="6">
                      <ion-button block color="primary" type="submit" [disabled]="loginForm.invalid">
                          Iniciar Sesion
                      </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>


      </form>
  </ion-card>
  <ion-text color="primary" class="ion-text-center">
      <ion-button expand="block" fill="clear" shape="round" (click)="resetPassword()">
          ¿Has olvidado tu contraseña?
      </ion-button>
  </ion-text>

</ion-content>