<ion-header>
  <ion-toolbar class="ion-text-center">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>CLIMBCLIP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top: 15%;" class="ion-text-center">
      <ion-text color="primary">
        <h4>Cambio de contraseña</h4>
      </ion-text>
      <form [formGroup]="resetPassword" (ngSubmit)="enviar()">
          <ion-item>
              <ion-label position="floating">Correo Electronico
                  <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="email" type="text" placeholder="Correo" class="ion-padding-top"></ion-input>
          </ion-item>
          <ion-button block color="primary" type="submit" [disabled]="resetPassword.invalid">
            Enviar correo
      </ion-button>
      </form>
  </ion-card>

</ion-content>