<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>politicas-de-privacidad - chalknity</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header>1. Información Recopilada:</ion-card-header>
    <ion-card-content>
        <p>Al registrarte en Chalknity, recopilamos tu nombre, dirección de correo electrónico, contraseña y nombre de usuario. En el futuro, es posible que solicitemos tu número de teléfono para mejorar la seguridad de la cuenta y la comunicación.</p>
        <p>Durante el uso de la aplicación, es posible que recopilemos información sobre tus interacciones con el contenido, como las imágenes que publicas.</p>
        <p>No se almacenan registros de actividad, pero se almacenan preferencias de usuario.</p>
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>2. Uso de la Información:</ion-card-header>
    <ion-card-content>
        <p>Utilizamos la información recopilada para administrar tu cuenta en Chalknity, proporcionarte acceso a nuestra red social de escalada y personalizar tu experiencia de usuario.</p>
        <p>Las direcciones de correo electrónico se utilizan para fines de comunicación, como notificaciones sobre la actividad de la cuenta, actualizaciones de la aplicación o noticias importantes.</p>
        <p>Podemos utilizar la información sobre tus interacciones con el contenido para mejorar Chalknity y ofrecer funciones adicionales que sean de tu interés.</p>
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>3. Compartir Información:</ion-card-header>
    <ion-card-content>
        <p>Nos comprometemos a no vender, alquilar ni compartir tu información personal con terceros sin tu consentimiento, excepto cuando sea necesario para proporcionar los servicios de Chalknity o cuando lo exija la ley.</p>
        <p>No mostraremos anuncios en Chalknity ni ofreceremos contenido de pago en la actualidad. Sin embargo, nos reservamos el derecho de hacerlo en el futuro y te informaremos sobre cualquier cambio significativo en nuestras políticas.</p>
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>4. Seguridad de los Datos:</ion-card-header>
    <ion-card-content>

        <p>Utilizamos Firebase, una plataforma de desarrollo de aplicaciones móviles de Google, para almacenar y gestionar tus datos de forma segura.</p>
        <p>Firebase implementa medidas de seguridad avanzadas para proteger tu información personal contra el acceso no autorizado, la divulgación o la destrucción.</p>
        <p>Tus datos personales se almacenan en servidores seguros gestionados por Firebase, ubicados en diferentes regiones del mundo, incluida la región de la Unión Europea para cumplir con las regulaciones de protección de datos de la UE.</p>
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>5. Consentimiento y Cambios en la Política:</ion-card-header>
    <ion-card-content>
        <p>Al utilizar Chalknity, aceptas esta Política de Privacidad. Si no estás de acuerdo con alguna parte de esta política, te recomendamos que no utilices nuestra aplicación.</p>
        <p>Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Se te notificará sobre cualquier cambio significativo en la política.</p>
        <p>Si tienes alguna pregunta o inquietud sobre nuestra Política de Privacidad, no dudes en ponerte en contacto con nosotros a través de los canales proporcionados en la aplicación.</p>    </ion-card-content>
</ion-card>
  <h1 class="ion-padding">Última actualización: 24/05/2024</h1>
</ion-content>

