<ion-header>
  <app-header [isModal]="true"></app-header>
</ion-header>
<ion-content>
  <form [formGroup]="addBlock" (ngSubmit)="enviar()" class="ion-padding">
    <ion-item>
        <ion-label position="floating">Nombre
            <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required formControlName="nombre" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción
      </ion-label>
      <ion-input formControlName="descripcion" type="text" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-no-padding"> 
          <ion-label >
          Valoración
        </ion-label></ion-col>
      </ion-row>
   
    
     
        <ion-row>
          <ion-col size="1">
            <ion-label class="labels">5</ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-range
              aria-label="Custom range"
              [min]="0"
              [max]="14"
              [pin]="true"
              [pinFormatter]="updatePin"
              (ionChange)="valorBloque($event)"
              formControlName="valorRange"
            ></ion-range>
          </ion-col>
          <ion-col size="3">
            <ion-label class="labels">8A</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
     
  </ion-item>
  <ion-item>
       <!-- <ion-avatar *ngIf="addBlock.value.imagen">
      <img [src]="addBlock.value.imagen" />
    </ion-avatar> -->
    <ion-grid>


      <ion-row>
        <ion-col size="12"><ion-button (click)="takeImage()"  expand="block" fill="clear" shape="round" formControlName="imagen" >
          Subir/Hacer foto
        </ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" *ngIf="addBlock.value?.imagen">
          <picture >
            <img [src]="addBlock.value.imagen || ''" />
  
          </picture>
        </ion-col>
      </ion-row>
    </ion-grid>
 
    
   
    
  </ion-item> 
   <ion-grid fixed>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size-md="6" size-lg="4" size-xs="12">
      <ion-button type="submit" color="primary" expand="block" [disabled]="addBlock.invalid">
        Subir Publicación
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</form>

</ion-content>
